* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;

    overflow: hidden;
}

#wrapper h1 {
    text-align: center;
    font-size: 3rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

main > header {
    display: flex;
    justify-content: space-evenly;
}

header div{
    border: 2px solid black;
    min-width: 100px;
    text-align: center;
    font-size: 2rem;
}



button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
